<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>UI Testing Playground Test Automation</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b266b3">  <td>22/10/06 00:01:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VisibilityLinkTest.setUp()[pri:0, instance:tests.VisibilityLinkTest@1ffaf86]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1863374262</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>22/10/06 00:02:38</td>   <td>45141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VisibilityLinkTest.tearDown()[pri:0, instance:tests.VisibilityLinkTest@1ffaf86]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1863374262</td>   <td></td> </tr>
<tr bgcolor="f376b9">  <td>22/10/06 00:01:13</td>   <td>-39457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ClassAttributeLinkTest.tearDown()[pri:0, instance:tests.ClassAttributeLinkTest@54a7079e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1863374262</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>22/10/06 00:02:01</td>   <td>8530</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VisibilityLinkTest.verifyButtonVisibility()[pri:1, instance:tests.VisibilityLinkTest@1ffaf86]">verifyButtonVisibility</td> 
  <td>main@1863374262</td>   <td></td> </tr>
<tr bgcolor="858383">  <td>22/10/06 00:01:16</td>   <td>-37106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoadDelaysLinkTest.setUp()[pri:0, instance:tests.LoadDelaysLinkTest@45099dd3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1863374262</td>   <td></td> </tr>
<tr bgcolor="858383">  <td>22/10/06 00:01:35</td>   <td>-18089</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoadDelaysLinkTest.tearDown()[pri:0, instance:tests.LoadDelaysLinkTest@45099dd3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1863374262</td>   <td></td> </tr>
<tr bgcolor="f376b9">  <td>22/10/06 00:01:11</td>   <td>-41825</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClassAttributeLinkTest.verifyButtonClickAndAcceptPopUp()[pri:1, instance:tests.ClassAttributeLinkTest@54a7079e]">verifyButtonClickAndAcceptPopUp</td> 
  <td>main@1863374262</td>   <td></td> </tr>
<tr bgcolor="868090">  <td>22/10/06 00:01:39</td>   <td>-14296</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SampleAppLinkTest.setUp()[pri:0, instance:tests.SampleAppLinkTest@13e344d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1863374262</td>   <td></td> </tr>
<tr bgcolor="868090">  <td>22/10/06 00:01:49</td>   <td>-3690</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleAppLinkTest.verifyLoginStatusAfterLogin()[pri:1, instance:tests.SampleAppLinkTest@13e344d]">verifyLoginStatusAfterLogin</td> 
  <td>main@1863374262</td>   <td></td> </tr>
<tr bgcolor="f376b9">  <td>22/10/06 00:00:21</td>   <td>-91884</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ClassAttributeLinkTest.setUp()[pri:0, instance:tests.ClassAttributeLinkTest@54a7079e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1863374262</td>   <td></td> </tr>
<tr bgcolor="868090">  <td>22/10/06 00:01:51</td>   <td>-1700</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SampleAppLinkTest.tearDown()[pri:0, instance:tests.SampleAppLinkTest@13e344d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1863374262</td>   <td></td> </tr>
<tr bgcolor="858383">  <td>22/10/06 00:01:25</td>   <td>-27659</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoadDelaysLinkTest.verifyPageLoadThenClickButton()[pri:1, instance:tests.LoadDelaysLinkTest@45099dd3]">verifyPageLoadThenClickButton</td> 
  <td>main@1863374262</td>   <td></td> </tr>
</table>
