<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a1cb84">  <td>22/09/14 13:54:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VisibilityLinkTest.setUp()[pri:0, instance:tests.VisibilityLinkTest@1b11171f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@284686302</td>   <td></td> </tr>
<tr bgcolor="a1cb84">  <td>22/09/14 13:54:52</td>   <td>3947</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VisibilityLinkTest.tearDown()[pri:0, instance:tests.VisibilityLinkTest@1b11171f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@284686302</td>   <td></td> </tr>
<tr bgcolor="a1cb84">  <td>22/09/14 13:54:51</td>   <td>2805</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VisibilityLinkTest.verifyButtonVisibility()[pri:1, instance:tests.VisibilityLinkTest@1b11171f]">verifyButtonVisibility</td> 
  <td>main@284686302</td>   <td></td> </tr>
</table>
